*p {
   color: gray;
}




img {
    height: 50px;
    width: 150px
}

.footer__block-icon {
    background-color: rgb(151, 150, 150);
    height: 50px;
    
    display: flex;
    align-items: center;
}

.footer__block {
    display: flex;
    justify-content: space-between;
  
}

.footer__back {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: gray;
}

.footer__back-accept {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
    
}

.footer__back-accept :nth-child(2){
    margin-left: 10px;
}

footer {
    font-family: 'Golos Text', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin-top: 20px;
margin-top: 20px;
border-top: 1px solid gray;

}



.footer__block-help {
    width: 180px;
}

@media  (max-device-width: 480px) {
    footer{
        display: flex;
       flex-direction: column;
       justify-content: space-between;
    }

    .footer__back {
        display: flex;
        flex-direction: column;
    }

    .footer__block {
        display: flex;
        flex-direction: column;
    }
 }

.footer__block-help :not(:first-child) {
    color: gray;
}

.footer__block-help {
    font-weight: 600;

font-family: 'Golos Text', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.footer__block-items {
    font-weight: 600;
    font-family: 'Golos Text', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.footer__block-items  {
    color: gray
}

